---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/campaigns/trigger/send
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","campaign_id":<APPBOY_TEST_SEGMENT>,"trigger_properties":{"foo":"bar"},"recipients":{"external_id":<APPBOY_TEST_SEGMENT>}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"success"}'
  recorded_at: Mon, 10 Apr 2017 22:32:31 GMT
recorded_with: VCR 2.9.3
